@font-face {
    src: url('Roboto-Regular.ttf');
}

* {
    -fx-font-family: 'Roboto';
    -fx-font-smoothing-type: gray;
    -fx-font-size: 15px;
}

.split-pane, .split-pane .split-pane-divider {
    -fx-background-color: #2E3440;
}

.tree-view .tree-cell {
    -fx-background-color: #3B4252;
}

.tree-view {
    -fx-background-insets: -1;
    -fx-background-color: #3B4252;
}

.tool-bar {
    -fx-background-color: #2E3440;
    -fx-spacing: 4px;
}

.tool-bar .button {
    -fx-background-color: transparent;
    -fx-padding: 2 4;
}

.tool-bar .button:hover {
    -fx-background-color: #4C566A;
}

.tool-bar .button:pressed {
    -fx-background-color: #434C5E;
}

.menu-bar, .menu, .menu-item, .context-menu {
    -fx-background-color: #3B4252;
}

.menu {
    -fx-padding: 2 4;
}

.menu:hover, .menu-item:hover {
    -fx-background-color: #4C566A;
}

.tool-bar .menu-button {
    -fx-background-color: rgba(239, 233, 240, 0.08);
    -fx-padding: 1 6;
    -fx-border-color: #4C566A;
    -fx-border-radius: 4px;
    -fx-spacing: 0;
}

.tool-bar .menu-button .label {
    -fx-padding: 0 4 1 4;
}

.tool-bar .menu-button .arrow-button {
    -fx-padding: 0 6 1 6;
}

.tool-bar .menu-button .arrow-button .arrow {
    -fx-background-color: #4C566A
}

.context-menu {
    -fx-border-color: #4C566A;
}

.context-menu .menu-item {
    -fx-padding: 2 4;
}

.menu .label, .menu-item .label {
    -fx-text-fill: #ECEFF4;
}

.context-menu > * > .separator > .line {
    -fx-border-color: #4C566A;
    -fx-border-width: 0.5;
    -fx-border-inset: -1;
}

.separator:vertical > .line, .separator:horizontal > .line {
    -fx-border-color: #4C566A;
    -fx-border-width: 0.5;
    -fx-border-inset: -1;
}

.context-menu .accelerator-text {
    -fx-text-fill: #88C0D0;
}

.label {
    -fx-text-fill: #ECEFF4;
}

#HBox, #VBox, #Pane, #StackPane {
    -fx-background-color: #2E3440;
}

.no-border-stack-pane {
    -fx-margin: 0;
    -fx-padding: 0;
    -fx-spacing: 0;
    -fx-border-width: 0;
}

.test-flow-pane {
    -fx-background-color: #3B4252;
}

.master-split-pane {
    -fx-border-width: 0;
    -fx-spacing: 0;
}

.master-split-pane > .split-pane-divider {
    -fx-background-color: #3B4252;
}

.tab-header-area .tab-header-background {
    -fx-background-color: #2E3440;
}

.tab-header-area .tab {
    -fx-background-color: transparent;
}

.tab .tab-container .tab-label {
    -fx-text-fill: #ECEFF4;
}

.tab-header-area .tab:hover {
    -fx-background-color: #1b202b;
}